@page "/RelatedAudio"
@using Fingerprint.Unifications.Storage
@inject NavigationManager Navigation
@inherits RelatedAudioModel
@rendermode InteractiveServer

<PageTitle>Похожие аудио</PageTitle>

<link href="/DictionaryOfStyles.css" rel="stylesheet" />
<style>
	.header-container {
		position: relative;
		width: 100%;
	}

	.overlay-text {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
	}

	h1 {
		padding: 0 20px;
	}

	.comparison-tables {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		margin: 2rem;
	}

	.comparison-table {
		flex: 1;
		min-width: 300px;
	}

	.table {
		margin-top: 3vw;
		width: 100%;
		font-size: clamp(14px, 1.5vw, 28px);
		border-collapse: collapse;
		border: 1px solid #A2D6F9;
	}

		.table th {
			background-color: #A2D6F9;
			color: #023E8A;
			text-align: center;
			padding: 12px;
			border: 1px solid #A2D6F9;
		}

		.table td {
			padding: 10px;
			text-align: center;
			border: 1px solid #A2D6F9;
			text-align: left;
		}

	.no-data-message {
		margin: 2rem;
		font-size: 1.2rem;
		text-align: center;
	}
</style>

<header class="header-container">
	<img class="log" src="/Pictures/Headlines/SimilarAudio.Wave.png" style="width: 100%;height: auto;margin:" ondragstart="return false;">
	<div class="overlay-text">
		<h1>Похожие аудио</h1>
	</div>
</header>

@if (UploadedFile.dictionaryFFT != null && UploadedFile.dictionaryFFT.Any())
{
	<div class="comparison-tables">
		<div class="comparison-table">
			<h2>Сравнение по FFT</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Название аудио</th>
						<th>Схожесть (%)</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in UploadedFile.dictionaryFFT.OrderByDescending(x => x.Value))
					{
						<tr>
							<td>@item.Key</td>
							<td style="text-align: center;">@Math.Round(item.Value, 2)</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
else
{
	<p class="no-data-message" style="color:red">Схожих аудио по методу FFT нет!</p>
}

@if (UploadedFile.dictionaryMFCC != null && UploadedFile.dictionaryMFCC.Any())
{
	<div class="comparison-tables">
		<div class="comparison-table">
			<h2>Сравнение по MFCC</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Название аудио</th>
						<th>Схожесть (%)</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in UploadedFile.dictionaryMFCC.OrderByDescending(x => x.Value))
					{
						<tr>
							<td>@item.Key</td>
							<td style="text-align: center;">@Math.Round(item.Value, 2)</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
else
{
	<p class="no-data-message" style="color:red">Схожих аудио по методу MFCC нет!</p>
}