* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.log {
    width: 100vw;
    position: relative;
    left: 0%;
    right:0%;
    margin-left: -3vw;
    margin-right:-4vw;
    margin-top: -5vw;
    width: 100%;
    min-width: 100vw;
}

.pic {
    max-width: 80%;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: transform 0.2s;
}

    .pic:hover {
        transform: scale(1.02);
    }

.overlay-text {
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%; 
    text-align: center; 
    color: white;
    z-index: 1;
    padding: 1rem; 
    box-sizing: border-box;
}
h1 {
    user-select: none;
    font-size: 4.5vw;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

p {
    user-select: none;
    font-size: 1.6vw;
    text-align: center;
    line-height: 1.4;
    color: #A2D6F9;
}

.button-download {
    position: absolute;
    margin-top: 18vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E96FC;
    border-color: #1E96FC;
    color: white;
    border-radius: 8px;
    padding: 25px 40px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: calc(10vw + 20px); 
}

button.circle-btn {
    margin-top: 5vw;
    width: clamp(50px, 20vw, 250px);
    height: clamp(50px, 20vw, 250px);
    border-radius: 50%;
    border-color: #A2D6F9;
    background-color: #A2D6F9;
    color: #023E8A;
    font-size: clamp(1.5rem, 3vw, 2rem);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttons-container2 {
    position: relative;
    width: 100%;
    height: 80px; 
}

.button-download2 {
    position: absolute;
    background-color: #1E96FC;
    border: 2px solid #1E96FC;
    color: white;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-download2:nth-child(1) {
    left: 5vw;
}

.button-download2:nth-child(2) {
    left: 30vw; 
}
    
button.circle-btn:hover {
transform: scale(1.1);
}

.button-download:hover {
    background-color: #072AC8;
}
.button-download2:hover {
    background-color: #072AC8;
}

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

@media (max-width: 850px) {
    .button-download {
        font-size: 0.8rem;
        padding: 5px 10px;
    }
    .button-download2:nth-child(2) {
        left: 40vw;
    }
}
@media (min-width: 650px) and (max-width: 1024px) {
    .button-download2:nth-child(2) {
        left: 60vw;
    }
}


@media (max-width: 680px) {
    button.circle-btn {
        font-size: 0.5rem;
        padding: 5px 15px;
    }

    .button-download2 {
        font-size: 0.5rem;
        padding: 5px 15px;
    }
}


@media (max-width: 1024px) {
    .log {
        margin-left: -4vw;
        margin-right: -6vw;
    }
}

@media (max-width: 768px) {
    .log {
        margin-left: -5vw;
        margin-right: -8vw;
    }
}

@media (max-width: 480px) {
    .log {
        margin-left: -6.5vw;
        margin-right: -9vw;
        margin-top: -5vw;
    }
}